<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="coding-exercise.log" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %p - %m%n" />
        </layout>
    </appender>
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %p - %m%n" />
        </layout>
    </appender>
    <appender name="html" class="org.apache.log4j.FileAppender">
        <param name="File" value="coding-exercise.html" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.HTMLLayout" />
    </appender>
    <root>
        <priority value ="error" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
        <appender-ref ref="html" />
    </root>
</log4j:configuration>
